article {
  padding: 1rem;
  color: #25113d;
  background-color: #bf9ee5;
}

h2 {
  margin: 0;
}

time {
  color: #3c2c50;
}

menu {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 0px;
}

.icon {
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

a {
  color: #25113d;
}

a:hover {
  color: #4b2b82;
  transform: scale(1.1);
}

button {
  color: red;
}

button:hover {
  color: darkred;
  transform: scale(1.1);
}
